body {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

#navbar{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;

}
#icon{
    width: 52px;
    height: 52px;
    margin-right: 10px;
}

#noticias{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 100px;
    border-color: rgba(0, 4, 255, 0.329);

}
#aliados{
    padding: 50px;
    background-color: azure;
}


.imagem_noticia{
    width: 600px;
    height: 500px;
    border: 100px;
}

.noticia{
    background-color: rgb(255, 255, 255);
    padding: 3px;
    border-style: solid;
    border-color: rgb(30, 255, 0);
    text-align: center;

    
}

#Rodapé{
    padding: 10px;
    background-color: rgba(156, 57, 33, 0.452);
    text-align: center; 
    color: white; 

}